<div class="cmpltLegend" style="width: 100%;">

  <div class="legendBody">
      <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
<div class="legendImg">
<img class="imgSize" [src]="cellLegendsPics.LegendCharging" >
</div>
<div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
<div id="idname">
<div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.LegendCharging,'color':'white'}">
  Charging
</div>
</div>

</div>
      <!-------------------------------->



      <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.LegendDisCharging" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.LegendDisCharging,'color':'white'}">
    Discharging
  </div>
  </div>
  
  </div>
        <!-------------------------------->
      
        

      
        

        <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.BatteryHighVoltage" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryHighVoltage,'color':'white'}">
    High Voltage
  </div>
  </div>
  
  </div>
        <!-------------------------------->
      
        

        <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.BatteryHighTemperature" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryHighTemperature,'color':'white'}">
    High Temp
  </div>
  </div>
  
  </div>
        <!-------------------------------->
      
        

        <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.CommnFail" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.CommnFail,'color':'white'}">
    Commn Fail
  </div>
  </div>
  
  </div>
        <!-------------------------------->
  

        
        <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.BatteryLowVoltage" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryLowVoltage,'color':'white'}">
    Low Voltage
  </div>
  </div>
  
  </div>
        <!-------------------------------->

              <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.BatteryAboutToDie" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryAboutToDie,'color':'white'}">
    AboutToDie
  </div>
  </div>
  
  </div>
        <!-------------------------------->
  

              <!------------legendBody---------->
<div id="idSingleLegend" class="singleLegend">
  <div class="legendImg">
  <img class="imgSize" [src]="cellLegendsPics.OpenBattery" >
  </div>
  <div style="border-bottom: 1px white solid;margin: 0px 5px;"> </div>
  <div id="idname">
    <div class="legendName" [ngStyle]="{'background-color':gblCellLegendsColors.OpenBattery,'color':'white'}">
    Open Battery
  </div>
  </div>
  
  </div>
        <!-------------------------------->
  

        

      </div>
      </div>

