<div class="cmpltLegend" style="width: 100%;">

    <div class="legendBody">
        <!------------legendBody---------->
        <!--------singleLegend----->
        <div class="singleLegend" matTooltip="Charging" >
        <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.LegendCharging}" >
            Charging
        </div>
        <div class="singleLegendImage">
            <img class="imgSize" [src]="cellLegendsPics.LegendCharging">    
                
        </div>
        </div>
        <!--------------->

                    
            <!--------singleLegend----->
            <div class="singleLegend"  matTooltip="Dis Charging">
                <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.LegendDisCharging}" >
                    Dis Charging
                </div>
                <div class="singleLegendImage">
                    <img class="imgSize" [src]="this.cellLegendsPics.LegendDisCharging" >    
                        
                </div>
                </div>
                <!--------------->
    
    
    
        
        <!--------singleLegend----->
        <div class="singleLegend"  matTooltip="Cell Low Voltage">
            <div class="singleLegendName"   [ngStyle]="{'background-color':gblCellLegendsColors.BatteryLowVoltage}" >
                Cell Low Volt
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.BatteryLowVoltage">    
                    
            </div>
        </div>
            <!--------------->
        
        
        
        
            <!--------singleLegend----->
        <div class="singleLegend"  matTooltip="Cell High Voltage" >
            <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryHighVoltage}" >
                Cell High Volt
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.BatteryHighVoltage" >    
                    
            </div>
            </div>
            <!--------------->
        
        
            <!--------singleLegend----->
         <!--<div class="singleLegend">
            <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryLowTemperature}"  >
                Battery Low Temp
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.BatteryLowTemperature" >    
                    
            </div>
            </div> -->
            <!--------------->
        
        
            <!--------singleLegend----->
        <div class="singleLegend"  matTooltip="Cell High Temperature">
            <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.BatteryHighTemperature}" >
                Cell High Temp
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.BatteryHighTemperature" >    
                    
            </div>
            </div>
            <!--------------->




            
            <!--------singleLegend----->
        <div class="singleLegend"  matTooltip="Communication Fail">
            <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.CommnFail}" >
             Commn Fail
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.CommnFail" >    
                    
            </div>
            </div>
            <!--------------->


            
            <!--------singleLegend----->
        <div class="singleLegend"  matTooltip="Communication Fail">
            <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.CommnFail}" >
             Commn Fail
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.CommnFail" >    
                    
            </div>
            </div>
            <!--------------->

            
            <!--------singleLegend----->
        <div class="singleLegend"  matTooltip="Communication Fail">
            <div class="singleLegendName" [ngStyle]="{'background-color':gblCellLegendsColors.CommnFail}" >
             Commn Fail
            </div>
            <div class="singleLegendImage">
                <img class="imgSize" [src]="this.cellLegendsPics.CommnFail" >    
                    
            </div>
            </div>
            <!--------------->
        
            
        <!-------------------------------->
        </div>
        </div>

