.infoTableParameter
{
	text-align: left;
	font-size: 0.75rem;
	width: 50%;
	min-width: 120px;
  text-transform: capitalize; 
}
.infoTableValue
{
font-weight: bold;
text-align: left;

}

.bmsValue 
{
display: flex;
}

.infoTableColon
{
	padding-right: 4px;
	font-weight: bold;
}

.textDecoration
{
	/*text-decoration: underline; */
  -webkit-text-decoration-color: red; /* Safari */  
  text-decoration-color: red;

  font-weight: 400;
  cursor: pointer;
}
.graphImage
{
    height: 20px;
    width: 38px;
    /* background-color: cadetblue; */
    border: 0.2px red solid;
 cursor: pointer;
}

/*******************Override Class**********************/
.card-header 
{
  background-color: #bd762d ;
  color: white;
  padding-left: 5px !important;
}
.card-body {
    padding: 0.25rem;
}
.headerColour
{
    background-color: #bd762d !important;
    color: white;
}
.parameterSymbol
{
  margin-left: 3px !important;
}

.clsPopupImage:hover
{
width: 50px;
height: 22px;
}