

<footer class="page-footer font-small cyan darken-3 d-flex justify-content-center">

   
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1 ">© 2020 Copyright:
      <a href="http://vajraiot.com/"> Vajra IOT. All rights reserved</a>
    </div>

  <div class="pl-2">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-skype"></a>
  
    </div>
    <!-- Copyright -->
  
  
  
  </footer>
  