.legendHeader
{
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
    background: #4eb92b;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
}
.legendName
{
 font-size: 0.7rem;
 min-width: 100px;
 
 text-align: center;   
}

