<!--<app-cell-pictorial-representation [receivCellInformatio]="'single cellData'"></app-cell-pictorial-representation> -->
<div *ngIf="gblAllCellData!=null" class="card p-2">
    <div class="card-header p-0 px-1 d-flex justify-content-between" [ngStyle]="ngstlAllCellHeader()" >
     <div>  {{gblChargingStatus==0?'Charging':'Discharging'}} </div>
     <div >   <img style="width: 70px; height: 25px;" [src]="gblChargingStatus==0?cellLegendsPics.Charging:cellLegendsPics.DisCharging"> </div>
     </div>
    <div class="card-body p-0" style="background-color: black;"> 
<div class="row p-0">
    <div class="col-12 no-gutters" style="width:100%; padding: 0px 15px; margin-top: 5px;">
<div style="display: flex; flex-flow: wrap;" >
<div  *ngFor="let eachCell of gblAllCellData"  style="margin:8px ">
    
    <div (click)="openDialog(eachCell.cellNumber)" >
        <app-cell-pictorial-representation [parentChargingStatus]="gblChargingStatus" [parentCellData]="eachCell"   ></app-cell-pictorial-representation>
    </div>
    
    </div >
</div>
</div>


</div>
</div>
</div>


<!--------------------------------- cell data model----------------------------------------- -->
<div class="modal" id="idSpecificCellPictorialModel" data-backdrop="static" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header py-1">
          <h2 class="modal-title">Cells Data</h2>
          
          <button type="button" mat-raised-button class="close" data-dismiss="modal"
            style="border: 3px solid coral; padding: 1px 1px; margin: 0px;">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!--************************************************-->
          <div class="row">
  
            <div class="col-md-12">
              <div class="panel panel-success shadow p-1 mb-0 bg-white" style="text-align: center;">
                <div class="panel-heading"><b> </b>
                  <div id="datetime" class="right"></div>
                </div>
  
                <div class="panel-body" >
                  <!----------Body--------------------->
                  Testing
                  <!----------------------------------->
                </div>
  
              </div>
            </div>
  
          </div>
  
          <!--************************************************-->
  
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------->
  