<div class="row">
  <div class="col-3 px-1">
    <div id="idbankCycleDCGraph" class="graphBox"></div>
  </div>

  <div class="col-3 px-1">
    <div id="idambientTemperatureHNGraph" class="graphBox"></div>
  </div>

  <div class="col-3 px-1">
    <div id="idsocLNGraph" class="graphBox"></div>
  </div>

  <div class="col-3 px-1">
    <div id="idstringVoltageLHNGraph" class="graphBox"></div>
  </div>

  <div class="col-3 px-1">
    <div id="idstringCurrentHNGraph" class="graphBox"></div>
  </div>

  
  <div class="col-3 px-1">
    <div id="idbmsSedCommunicationFDGraph" class="graphBox"></div>
  </div>

  
  <div class="col-3 px-1">
    <div id="idcellCommunicationFDGraph" class="graphBox"></div>
  </div>


  <div class="col-3 px-1">
    <div id="idcellVoltageLHNGraph" class="graphBox"></div>
  </div>


  
  <div class="col-3 px-1">
    <div id="idcellTemperatureHNGraph" class="graphBox"></div>
  </div>

</div>
